extends ../layouts/base.pug

block contnet
    section.home
        .home__left
        .home__center.hc
           
            ul.hc__dataList
                li 
                li 
                li 
                
        .home__right
